
#### C & C++ ####
*.gch
*.out
*.o
tags

#### project ####
model

#### doc & resources ####
*.svg
resources/*.xml
resources/*.pdf
resources/*.cpp
resources/*.h
resources/*.txt
README.pdf
*.nvimrc
*.R*


### bad habits ###
# 'w:q'
:
